@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center" style="padding-top: 10rem;text-align:center">
    <h1 class="display-4">欢迎使用学生信息管理系统</h1>
</div>
