@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<!--默认面包屑-->
<span class="layui-breadcrumb">
    <a href="/">首页</a>
    <a href="/demo/">演示</a>
    <a><cite>导航元素</cite></a>
</span>
<p>Use this page to detail your site's privacy policy.</p>
