
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/js/layui-v2.5.5/layui/css/layui.css" rel="stylesheet" />
    @* 这是本子布局页的子页插入内容的入口，注意到没？它写在本子布局页插入母版页的入口处*@
    @RenderSection("header", required: false)
}
@section Scripts {
    @RenderSection("scripts", required: false)
}
<div class="content_box container">
    <div class="content_box_in">
        @RenderBody()
    </div>
</div>




<div class="layadmin-tabsbody-item">
    <iframe src="#" frameborder="0" class="layadmin-iframe" id="demoAdmin" style="width: 100%; height: 300px;"></iframe>
</div>

<script>
    reHeight();
    $(window).resize(function () {
        reHeight();
    });
    //设置iframe高度
    function reHeight() {
        var bodyHeight = $(window).height();
        bodyHeight = bodyHeight - 160;
        if (bodyHeight < 600) {
            bodyHeight = 600;
        }
        $("#demoAdmin").height(bodyHeight);
    }
</script>